h1 {
  color: #ff3232;
  text-align: center;
  font-family: cursive;
}
h2 {
  color: #ffb2b2;
  font-style: italic;
  text-align: center;
  font-family: cursive;
}
p {
  font-family: sans-serif;
  color: #ff4252;
  font-size: 20px;
  line-height: 35px;
  text-align: left;
}
  ul {
    font-size: 15px;
    line-height: 30px;
    font-weight: 50px;
    color: #ff6453;
    text-align: left;
  }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #000
}
